.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  max-height: 20px;
  min-height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(254, 255, 255);
}

.btnF {
  text-decoration: none;
  border: none;
  height: 5vh;
  width: 45vw;
}
