.icon {
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(90, 181, 197);
  padding: 4px 5px;
}
.map {
  margin-top: 20px;
  width: 35%;
}
.contactTrash {
  background-color: rgb(253, 247, 247);
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.trash {
  color: red;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}
.contact {
  display: flex;
  align-items: center;
}
.nameEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: small;
  padding-left: 3px;
}
button {
  background-color: rgb(253, 247, 247);
  outline: none;
  border: none;
}
